*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: italic;
  font-weight: 300;
  background-color: #ececec;
  padding: .6rem 1.5rem;
  scroll-behavior: smooth;
}

.header__logo-box {
  position: relative;
}

.header__logo {
  width: 15%;
  position: absolute;
  top: 6rem;
  left: 10rem;
}

.header__nav {
  position: relative;
}

.header__nav--items {
  position: absolute;
  font-size: 1.6rem;
  top: 6rem;
  right: 6rem;
  list-style: none;
}

.header__nav--link {
  text-decoration: none;
  text-transform: uppercase;
  color: #DADADA;
  letter-spacing: .3rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__nav--link:not(:first-child) {
  padding-left: 4rem;
}

.header__nav--link:hover {
  color: #76F4F4;
}

.bg-video {
  position: relative;
  z-index: -10;
  margin-bottom: -2rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 100%);
}

.bg-video__content {
  width: 100%;
  height: 120vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn:hover {
  -webkit-transform: translateY(-0.4rem);
          transform: translateY(-0.4rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  background-position: 100%;
  color: black;
}

.btn:active {
  -webkit-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.btn:link, .btn:visited {
  background-image: linear-gradient(120deg, rgba(99, 119, 126, 0.7) 0%, rgba(105, 120, 124, 0.7) 50%, rgba(1, 174, 217, 0.8) 50%);
  background-size: 230%;
  font-size: 3rem;
  margin: 2rem 5rem;
  text-decoration: none;
  color: #DEDEDE;
  padding: 1rem 2rem;
  border-radius: 2.5rem;
  -webkit-transition: all .4s;
  transition: all .4s;
  text-transform: uppercase;
  display: inline-block;
}

.btn-block {
  display: block;
  position: absolute;
  left: 17%;
}

.button-box {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.platforms {
  background-image: url("../img/year2_hero_blog_notext.f44ca8609585ba611e1277fc600f5cc1.jpg");
  background-size: cover;
  height: 100vh;
  -webkit-clip-path: polygon(0 20vh, 100% 0, 100% 100vh, 0 100%);
          clip-path: polygon(0 20vh, 100% 0, 100% 100vh, 0 100%);
  padding-top: 8rem;
  padding-bottom: 8rem;
  /*&>*{        
    //    transform: skewY(7deg);
    }*/
}

.platforms__box {
  background-image: linear-gradient(120deg, rgba(21, 26, 29, 0.8) 0%, rgba(48, 57, 61, 0.8) 50%, #0067c7 50%);
  background-size: 280%;
  font-size: 2.5rem;
  border-radius: 5px;
  padding: 2rem;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.platforms__box:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  background-position: 100%;
}

.platforms__box--text {
  margin-bottom: 8rem;
}

.platforms__box--text-link {
  text-decoration: none;
  color: #dfdfdf;
  font-size: 2rem;
  text-transform: uppercase;
}

.fab {
  font-size: 8rem;
  margin: 5rem;
}

.fa-xbox {
  color: #06E91B;
}

.fa-playstation {
  color: #0600BB;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
  float: left;
}

.row .col-1-of-2:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-3 {
  width: calc((100% - 2*6rem) / 3);
  float: left;
}

.row .col-1-of-3:not(:last-child) {
  margin-right: 6rem;
}

.row .col-2-of-3 {
  width: calc(2*(100% - 6rem) / 3);
  background-color: orangered;
  float: left;
}

.row .col-2-of-3:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-4 {
  width: calc((100% - 3*6rem) / 4);
  float: left;
}

.row .col-1-of-4:not(:last-child) {
  margin-right: 6rem;
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  margin: 0 1rem;
  margin-bottom: -4rem;
  padding: 3rem 1rem;
  position: relative;
}

.card__side {
  height: 28rem;
  padding: 2.2rem;
  -webkit-transition: all .8s;
  transition: all .8s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 7px;
}

.card__side--front {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(94, 94, 94, 0.8)), to(rgba(160, 160, 160, 0.8)));
  background-image: linear-gradient(to right, rgba(94, 94, 94, 0.8), rgba(160, 160, 160, 0.8));
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #919191;
}

.card__pic-box {
  margin-left: -1rem;
  text-align: center;
}

.card__pic {
  width: 14rem;
  border-radius: 50%;
  position: relative;
}

.card__link {
  text-decoration: none;
  text-align: center;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: black;
  background-color: white;
  border-radius: 3px;
  padding: 1.2rem 2.5rem;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.card__link-yt {
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #df0b0b 50%);
  background-size: 280%;
}

.card__link-yt:hover {
  background-position: 100%;
}

.card__link-stats {
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #646464 50%);
  background-size: 280%;
  padding: 1.2rem 3.9rem;
}

.card__link-stats:hover {
  background-position: 100%;
}

.card__link-twitch {
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #800bdf 50%);
  background-size: 280%;
  padding: 1.2rem 3.2rem;
}

.card__link-twitch:hover {
  background-position: 100%;
}

.card__link-li {
  padding: 2rem 2rem;
}

.card__link-box {
  margin-left: 1rem;
  position: absolute;
  top: 50%;
  left: 55%;
  -webkit-transform: translate(-60%, -60%);
          transform: translate(-60%, -60%);
}

.card__link-list {
  list-style-type: none;
}

.card__player-team {
  margin: 3rem 0;
  text-align: center;
}

.card__player-team--ico {
  width: 10rem;
  height: 7rem;
  position: relative;
}

.card__player-name {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.7rem;
  text-transform: uppercase;
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.section-players {
  background: url("../img/wallpaper.jpg");
  background-size: cover;
  padding: 15rem 5rem;
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 165vh, 0 100%);
          clip-path: polygon(0 15%, 100% 0, 100% 165vh, 0 100%);
}

.heading-secondary {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 2rem;
  color: #1b1b1b;
}

.footer {
  background-color: #9e9e9e;
}

.footer__logo-box {
  text-align: center;
  padding: 2rem 2rem;
}

.footer__logo {
  width: 13rem;
}

.footer__navigation {
  padding: 1rem 1rem;
}

.footer__list {
  list-style-type: none;
}

.footer__item {
  padding: .5rem;
  font-size: 1.4rem;
  display: inline-block;
}

.footer__link {
  -webkit-transition: all .3s;
  transition: all .3s;
  text-decoration: none;
  color: #333333;
}

.footer__link:hover {
  color: #0c0c0c;
}

.footer__copyright {
  padding: 1rem 1rem;
  font-size: 1.15rem;
  letter-spacing: .05rem;
  font-weight: 100;
}
/*# sourceMappingURL=style.css.map */