.btn{
    
    &:hover{
        transform:translateY(-.4rem);
        box-shadow:0 1rem 2rem rgba($color: #000000, $alpha: 0.4);
        background-position: 100%;
        color: black;

        
    }
    &:active{
        transform:translateY(.1rem);
        box-shadow:0 0.5rem 1rem rgba($color: #000000, $alpha: 0.4)

    }

    &:link,
    &:visited{
        
        background-image: linear-gradient(120deg, rgba(99, 119, 126, .7) 0%, rgba(105, 120, 124, .7) 50%, rgba(1, 174, 217, 0.8)50%);
        background-size: 230%;
        font-size: 3rem;
        margin: 2rem 5rem;
        text-decoration: none;
        color: #DEDEDE;
        padding: 1rem 2rem;
        border-radius: 2.5rem;
        transition: all .4s;
        text-transform: uppercase;
        display: inline-block;
    }
    &-block{
        display: block;
        position: absolute;
        left: 17%;
    }
    
}
.button-box{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    

    
}