.section-players{
    background:url("../img/wallpaper.jpg");
    background-size: cover;
    padding: 15rem 5rem;
    clip-path: polygon(0 24vh, 100% 0, 100% 100%,0 100%);    

}
.heading-secondary{
    font-size: 3rem;
    padding-bottom: 2rem;
    color: rgb(0, 17, 255);
    background-color: rgba(218, 218, 218, 0.596);
    padding: 1rem 2rem;
    border-radius: 1rem;
    display: inline-block;
    &--container{
        text-align: center;
    }
    
}