.section-players{
    background:url("../img/wallpaper.jpg");
    background-size: cover;
    padding: 15rem 5rem;
    clip-path: polygon(0 15%, 100% 0, 100% 165vh,0 100%);    

}
.heading-secondary{
    font-size: 3rem;
    text-align: center;
    padding-bottom: 2rem;
    color: rgb(27, 27, 27);
}